body {
    overflow: scroll;
    height: 1450px;
    overflow-x: hidden;
}

th p{
    text-align: left;
}


.jesus-malabanan{
  background: url('../images/crime.png') no-repeat -205px -1px;
	width: 100px;
	height: 100px;
}

.makati{
  background: url('../images/crime.png') no-repeat -1px -1px;
	width: 100px;
	height: 100px;
}

.motorcycle{
  background: url('../images/crime.png') no-repeat -103px -1px;
	width: 100px;
	height: 100px;
}

.siblings{
  background: url('../images/crime.png') no-repeat -1px -103px;
	width: 150px;
	height: 84px;
}
