.odette-one{
  background: url('../images/general.png') no-repeat -1px -1px;
	width: 125px;
	height: 94px;
}

.power-lines{
  background: url('../images/general.png') no-repeat -153px -103px;
	width: 150px;
	height: 94px;
}

.bea-face{
  background: url('../images/general.png') no-repeat -1px -97px;
	width: 150px;
	height: 90px;
}

.coa-logo{
  background: url('../images/general.png') no-repeat -153px -1px;
	width: 100px;
	height: 100px;
}

.three-advisors{
  background: url('../images/general.png') no-repeat -1px -199px;
	width: 150px;
	height: 46px;
}
