/* So some of these are NEVER declared, but they're here for test purposes
(as evidenced by the names literally being test haha)*/

#jump{
    position: absolute;
    top: 200px;
    left: 500px;
    height: 150px;
    width: 70px;
    background: url("../images/jump.png");
    animation: jumping 1s steps(7) infinite;
}

@keyframes jumping {
    100% { background-position: -560px 0px;}
}

#box{
    height: 90px;
    width: 400px;
}

.search {
    position: absolute;
    right: 80px;
    top: 20px;
    height: 20px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
}

.searchbtn{
    position: absolute;
    right: 20px;
    top: 23px;
}

.results{
    position: absolute;
    top: 125px;
    width: 1350px;
    height: 1350px;
}

#test{
    position: absolute;
    right: 450px;
    top: 450px;
    height: 90px;
    width: 900px;
}

#test2{
    position: absolute;
    right: 450px;
    top: 600px;
    height: 90px;
    width: 900px;
}
