/* STYLESHEET NOTES:
1. I didn't bother adding pseudo classes for links such as visited.
It's just weird to see the link be PERMANENTLY a different color, especially if it's a link
like the home/title link or side menu links.

2. This stylesheet is long so be careful as you might get confused. The classes/ids are generally in order from:
Title Navbar>Side Menu>Main body/Content>Footer>Misc (easter eggs)

3. I created more css files for images in each content page so that it won't clutter this one even more.
God knows how long this will be if all image classes are here.
*/

/*Extra note: All images are sprites, except big ones (like the index banner) where it's impractical to turn them into sprites.*/

body {
  font-family: "Arial";
  background-color: #f4f4f4;
  margin: 0;
}

a {
  text-decoration: none;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite; /*These webkit and moz things are for compatibility.*/
  animation: my-animation 20s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(65%);
    -webkit-transform: translateX(65%);
    transform: translateX(65%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#logo {
  position: absolute;
  display: block;
  top: 15px;
  background: url('./htdocs/images/icons.png') no-repeat -35px -69px;
	width: 30px;
	height: 30px;
}

.menu-icon{
  background: url('./htdocs/images/icons.png') no-repeat -35px -1px;
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  top: 90px;
  right: 130px;
}

.index-title{
  background: url('./htdocs/images/icons.png') no-repeat -1px -1px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.covid-title{
  background: url('./htdocs/images/icons.png') no-repeat -1px -69px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.politics-title{
  background: url('./htdocs/images/icons.png') no-repeat -69px -1px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.crime-title{
  background: url('./htdocs/images/icons.png') no-repeat -1px -35px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.general-title{
  background: url('./htdocs/images/icons.png') no-repeat -69px -35px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.about-title{
  background: url('./htdocs/images/icons.png') no-repeat -35px -35px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
}

.home-icon{
  background: url('./htdocs/images/icons.png') no-repeat -1px -1px;
	width: 32px;
	height: 32px;
  display: inline-block;
  position: absolute;
  top: 190px;
  right: 120px;
}

.covid-icon{
  background: url('./htdocs/images/icons.png') no-repeat -1px -69px;
	width: 32px;
	height: 32px;
  display: inline-block;
  position: absolute;
  top: 235px;
  right: 95px;
}

.politics-icon{
  background: url('./htdocs/images/icons.png') no-repeat -69px -1px;
	width: 32px;
	height: 32px;
  display: inline-block;
  position: absolute;
  top: 285px;
  right: 115px;
}
.crime-icon{
  background: url('./htdocs/images/icons.png') no-repeat -1px -35px;
	width: 32px;
	height: 32px;
  display: inline-block;
  position: absolute;
  top: 330px;
  right: 125px;
}

.general-icon{
  background: url('./htdocs/images/icons.png') no-repeat -69px -35px;
	width: 32px;
	height: 32px;
  border: 0;
  display: inline-block;
  position: absolute;
  top: 375px;
  right: 100px;
}

.about-icon{
  background: url('./htdocs/images/icons.png') no-repeat -35px -35px;
	width: 32px;
	height: 32px;
  display: inline-block;
  position: absolute;
  top: 420px;
  right: 125px;
}

.covid-topic{
  background: url('./htdocs/images/topics.png') no-repeat -104px -229px;
	width: 100px;
	height: 100px;
}

.politics-topic{
  background: url('./htdocs/images/topics.png') no-repeat -2px -229px;
	width: 100px;
	height: 100px;
}

.crime-topic{
  background: url('./htdocs/images/topics.png') no-repeat -263px -2px;
	width: 100px;
	height: 100px;
}

.general-topic{
  background: url('./htdocs/images/topics.png') no-repeat -365px -2px;
	width: 100px;
	height: 100px;
}

.covid-heading{
  background: url('./htdocs/images/topics.png') no-repeat -2px -346px;
	width: 275px;
	height: 275px;
}

.politics-heading{
  background: url('./htdocs/images/topics.png') no-repeat -504px -1px;
	width: 225px;
	height: 225px;
}

.crime-heading{
  background: url('./htdocs/images/topics.png') no-repeat -1px -1px;
	width: 259px;
	height: 194px;
}

.general-heading{
  background: url('./htdocs/images/topics.png') no-repeat -262px -103px;
	width: 240px;
	height: 240px;
}

.doh-footer{
  background: url('./htdocs/images/footer.png') no-repeat -33px -1px;
	width: 30px;
	height: 30px;
}

.rappler-footer{
  background: url('./htdocs/images/footer.png') no-repeat -1px -1px;
	width: 30px;
	height: 30px;
}

.inquirer-footer{
  background: url('./htdocs/images/footer.png') no-repeat -1px -33px;
	width: 30px;
	height: 30px;
}

.logo-footer{
  background: url('./htdocs/images/icons.png') no-repeat -35px -69px;
  width: 30px;
  height: 30px;
}

.breaking{
  text-align: center;
  font-weight: bold;
}

.navbar {
  background-color: rgb(59, 89, 152);
  overflow: hidden;
  height: 63px;
  border: 2px solid black;
  position: absolute;
  width: 1345px;
}

.kategorya {
  overflow: hidden;
  height: 63px;
  position: absolute;
  top: 340px;
  left: 555px;
  width: 1350px;
}

.navbar a{
  float: left;
  display: block;
  color: #f4f4f4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover{ /*All classes with hover are just for when the mouse "hovers" over the element.*/
  background-color: #cccccc;
  color: #000;
}

.center{
  display: inline-table;
  text-align: center;
  margin-left: 104px;
  margin-right: 104px;
  padding: 5px;
}

.side-nav{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;  /*HOLASLKASKLAS ANG COOL NITO AAAAHAHAHAHA*/
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav p{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #fff;
}

#exit-button {
  border: none;
  background-color: inherit;
  color: #ccc;
  font-size: 30px;
  margin-left: 10px;
}

#exit-button:hover{
  color: #fff;
}

#side-button{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  border: none;
  background-color: inherit;
}

#side-button:hover{
  color: #fff;
}

#margin {
  transition:marginLeft 0.5s;
  padding: 22px;
  overflow: hidden;
  width: 100%;
}

.home{
  margin-left: 475px;
  position: absolute;
  top: -15px;
}

.generics {
  text-align: center;
  font-weight: bold;
}

.home a:hover{
  background-color: rgb(66, 103,178);
  color: white;
}

.default {
  border: 2px solid black;
}

.bottom {
  background-color: rgb(59, 89, 152);
  overflow: hidden;
  height: 40px;
  width: 1335px;
  border: 2px solid black;
  margin: 30px 0 0 0;
  padding: 5px;
}

.categories{
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.cat-borders{
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.news-div{
  position: absolute;
  margin-top: 120px;
}

.news-table{
  border: solid #aaa;
  border-collapse: collapse;
  width: 1350px;"
}

.news-border {
  border-bottom: solid #aaa;
}

.news-extras {
  padding: 20px 10px 10px 10px;
  text-align: center;
}

.news-heads  {
  text-align: left;
  font-family: arial;
  font-weight: bold;
  padding-top: 10px;
}

.topic-headings{
  font-size: 50px;
  position: absolute;
  top: 25px;
  padding: 0px;
}

.ten{
  font-size: 10px;
}

.footer-div{
  position: fixed;
  bottom: 0%;
}

.doh-link{
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  right: 75%;
  top: 50%;
}

.rappler-link{
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  right: 50%;
  top: 50%;
}

.inquirer-link{
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  right: 25%;
  top: 50%;
}

.logo-link{
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  right: 15%;
  top: 50%;
}

#selfcredit {
  text-decoration: none;
}

.easter-egg{
  position: absolute;
  top: 150px;
  right: 40px;
}
